{"openapi":"3.0.2","info":{"title":"HotelPay","version":"1.0.0","description":"Hotelpay","contact":{"name":"Retrypay","url":"https://retrypay.com/"}},"servers":[{"url":"https://admin.retrypay.dev/api","description":""}],"paths":{"/check-api-key":{"summary":"Verifica si un API Key es válido","description":"Un API Key es válido si: existe, está activado, el merchant al que pertenece está activado, no ha expirado y se puede utilizar desde el dominio que se realiza la petición.","post":{"requestBody":{"content":{"application/json":{"schema":{"title":"Root Type for ValidateApiKeyRequest","description":"","required":["api_key"],"type":"object","properties":{"api_key":{"maxLength":0,"minLength":0,"type":"string"}},"example":{"api_key":"YsIyaPsU1x7sV5AW2rG03NFGJjVGJc54Acr1xYtxZU9uzXKymLzfLAgGwtaMFNqhyziyd6"},"x-readme-ref-name":"CheckApiKeyRequest"}}},"required":true},"tags":["Merchant"],"responses":{"200":{"content":{"application/json":{"schema":{"title":"Root Type for SuccessResponse","description":"","required":["data","message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"}},"data":{"description":"","type":"array","items":{},"example":"null"}},"example":{"success":true,"message":{"es":"El API Key es válido."}},"x-readme-ref-name":"CheckApiKeyResponse"},"examples":{"SuccessResponse":{"value":{"success":true,"message":"El API Key es válido."}}}}},"description":"Response OK"},"401":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"Disabled API Key":{"value":{"success":false,"message":"El API Key está deshabilitado."}}}}},"description":"Disabled API Key"},"403":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"DisabledMerchant":{"value":{"success":false,"message":{"es":"El merchant está deshabilitado."}}},"RequestDomainIsNotAllowed":{"value":{"success":false,"message":{"es":"Este API Key no tiene permitido el acceso desde el dominio \"example.com\""}}}}}},"description":"Forbbiden"},"404":{"content":{"application/json":{"schema":{"title":"Root Type for SuccessResponse","description":"","required":["data","message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"}},"data":{"description":"","type":"array","items":{},"example":"null"}},"example":{"success":true,"message":{"es":"El API Key es válido."}},"x-readme-ref-name":"CheckApiKeyResponse"},"examples":{"ValidateApiKeyInvalid":{"value":{"success":false,"message":"El API Key no es válido."}}}}},"description":"API Key is invalid"},"422":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ValidationError":{"value":{"success":false,"message":"El campo api_key es obligatorio.","errors":{"api_key":["El campo api_key es obligatorio."]}}}}}},"description":"Validation error"},"500":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ServerError":{"value":{"success":false,"message":{"es":"Ha ocurrido un error inesperado","en":"An unexpected error has occurred"}}}}}},"description":"Internal Server Error"}},"operationId":"getApiKeyValidation","summary":"Chequea si un API Key es válido","description":"Un API Key es válido si: existe, está activado, el merchant al que pertenece está activado, no ha expirado y se puede utilizar desde el dominio que se realiza la petición."}},"/payment-order":{"description":"","post":{"requestBody":{"content":{"application/json":{"schema":{"title":"Root Type for PaymentOrderRequest","description":"","required":["amount","currency","reference","checkin","checkout","items","description"],"type":"object","properties":{"reference":{"description":"Referencia de la orden de pago del merchant","type":"string","example":"REF-00023"},"amount":{"format":"double","description":"Valor total de la orden de pago","type":"number","example":"2345.66"},"currency":{"description":"Moneda en la que debe realizarse el pago. ISO-4217","maxLength":3,"minLength":3,"pattern":"^[A-Z]{3}$","type":"string","example":"MXN"},"items":{"description":"Artículos/servicios de la orden de pago","type":"array","items":{"description":"Payment Order items","required":["description","price","quantity"],"type":"object","properties":{"description":{"description":"","type":"string"},"price":{"format":"double","description":"","type":"number"},"quantity":{"description":"","type":"integer"}},"example":[{"description":"Habitación doble vista al mar","price":56.79,"quantity":7},{"description":"Habitación sencilla","price":34.99,"quantity":7}],"x-readme-ref-name":"ItemType"},"example":""},"description":{"description":"Descripción de la orden","type":"string"},"booking_number":{"description":"Número de la reserva","type":"string"},"checkin":{"format":"date","description":"Check in time DateTime (yyyy-mm-ddThh:mm:ss)","type":"string","example":"YYYY-MM-DD"},"checkout":{"format":"date","description":"Check out time DateTime (yyyy-mm-ddThh:mm:ss)","type":"string","example":"YYYY-MM-DD"}},"example":{"reference":"000003","booking_number":"00001","amount":2346.34,"currency":"MXN","checkin":"2024-10-20","checkout":"2024-10-26","description":"Alojamiento oferta de verano plan familiar","items":[{"description":"Habitación doble vista al mar","price":56.79,"quantity":7},{"description":"Habitación sencilla","price":34.99,"quantity":7}]},"x-readme-ref-name":"PaymentOrderRequest"}}},"required":true},"tags":["Order"],"responses":{"200":{"content":{"application/json":{"schema":{"title":"Root Type for SuccessResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"},"readOnly":true},"data":{"description":"","anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"}},"example":{"success":true,"message":{"es":"El API Key es válido.","en":"The API Key is invalid"}},"x-readme-ref-name":"SuccessResponseType"},"examples":{"Payment Order Created Successfully":{"value":{"success":true,"booking_number":"00001","message":{"es":"La orden de pago se creó con éxito."},"data":{"reference":"234234","amount":4346.34,"currency":"MXN","description":"Alojamiento oferta de verano plan familiar","items":[{"description":"Habitación doble vista al mar","price":256.79,"quantity":7},{"description":"Habitación sencilla","price":34.99,"quantity":7}],"merchant_id":1,"uuid":"2172e3f3-f10b-4c9f-9ec5-eb61fde04d59","updated_at":"2023-06-14T16:47:25.000000Z","created_at":"2023-06-14T16:47:25.000000Z","id":4}}}}}},"description":"Response OK"},"401":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ApiKeyInvalidOrMissing":{"value":{"success":false,"message":{"es":"Falta el API Key o no es válido."}}},"DisabledApiKey":{"value":{"success":false,"message":{"es":"El API Key está deshabilitado."}}},"ExpiredApiKey":{"value":{"success":false,"message":{"es":"El API Key ha expirado."}}}}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"DisabledMerchant":{"value":{"success":false,"message":{"es":"El merchant está deshabilitado."}}},"RequestDomainIsNotAllowed":{"value":{"success":false,"message":{"es":"Este API Key no tiene permitido el acceso desde el dominio \"example.com\""}}}}}},"description":"Forbbiden"},"422":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ValidationErrorsResponse":{"value":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["El campo reference es obligatorio."],"payment_mode":["El campo payment mode es obligatorio."],"currency":["El campo currency es obligatorio."],"amount":["amount debe ser numérico."]}}}}}},"description":"Validation error"},"500":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ServerError":{"value":{"success":false,"message":{"es":"Ha ocurrido un error inesperado","en":"An unexpected error has occurred"}}}}}},"description":"Internal Server Error"}},"security":[{"Authorization":[]}],"operationId":"createOrder","summary":"Crea  orden de pago","description":"Crea una nueva orden de pago"}},"/payment-order/{uuid}":{"description":"","put":{"requestBody":{"content":{"application/json":{"schema":{"title":"Root Type for BillingAddressRequest","description":"","required":["payment_methods","payment_mode"],"type":"object","properties":{"billing_address":{"description":"Dirección de facturación","properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"zip":{"type":"string"}},"example":"{\n        \"first_name\": \"Jhon\",\n        \"last_name\": \"Doe\",\n        \"email\": \"jhon@gmail.com\",\n        \"phone\": \"998456778\",\n        \"address\": \"345 Oxmal\",\n        \"address2\": \"\",\n        \"city\": \"Cancún\",\n        \"state\": \"Qintana Roo\",\n        \"country\": \"México\",\n        \"zip\": \"33456\"\n    }","title":"Root Type for Address","required":["addresss","city","country","email","first_name","last_name","state","zip"],"type":"object","x-readme-ref-name":"AddressType"},"payment_methods":{"description":"Datos sobre los medios de pago","type":"array","items":{"title":"Root Type for PaymentMethodAmount","description":"","required":["amount","reference"],"type":"object","properties":{"reference":{"description":"Referencia del método de pago","type":"string"},"amount":{"format":"double","description":"Cantidad a pagar con el medio de pago","type":"number"},"installment":{"description":"Cantidad de meses seleccionado para realizar el pago. (Solo aplica para tarjeta)","enum":["1","3","6","9","12","18","24"],"type":"string"},"status":{"description":"Estado del pago (solo aplica para wallet)","enum":["success","fail"],"type":"string"},"metadata":{"description":"Datos adicionales","type":"array","items":{"title":"Root Type for metadataData","description":"","type":"object","properties":{"token_auth":{"description":"Token de autorización devuelto por el PSP al aprobar el pago (solo aplica para wallet)","type":"string"},"payment_intent_id":{"description":"Id devuelto por el PSP al crear la orden (solo aplica para wallet)","type":"string"}},"example":{"token_auth":"1e8c3008-27f8-4c04-a4dd-431083e274c6","payment_intent_id":"817355952-351bc9f5-3fb6-4ddc-8204-b74e82984814"},"x-readme-ref-name":"PaymentMethodMetadataData"}}},"example":{"reference":"sdfsdfas234","amount":4566.44,"installment":1},"x-readme-ref-name":"PaymentMethodAmount"}},"payment_mode":{"description":"Forma de pago: single = única, split = fraccionada","pattern":"(single|split)","type":"string"}},"example":{"payment_mode":"split","billing_address":{"first_name":"Jhon","last_name":"Doe","email":"jhon@gmail.com","phone":"998456778","address":"345 Oxmal","address2":"","city":"Cancún","state":"Qintana Roo","country":"México","zip":"33456"},"payment_methods":[{"reference":"seferwr23432","amount":234.34,"installment":1},{"reference":"sdfsdfas234","amount":4566.44,"installment":2}]},"x-readme-ref-name":"ProcessPaymentOrderRequest"},"examples":{"Single with one card ":{"value":{"payment_mode":"single","billing_address":{"first_name":"Jhon","last_name":"Doe","email":"jhon@gmail.com","phone":"998456778","address":"345 Oxmal","address2":"","city":"Cancún","state":"Quintana Roo","country":"México","zip":"33456"},"payment_methods":[{"reference":"seferwr23432","amount":234.34,"installment":1}]}},"split with two cards":{"value":{"payment_mode":"split","billing_address":{"first_name":"Jhon","last_name":"Doe","email":"jhon@gmail.com","phone":"998456778","address":"345 Oxmal","address2":"","city":"Cancún","state":"Quintana Roo","country":"México","zip":"33456"},"payment_methods":[{"reference":"seferwr23432","amount":234.34,"installment":1},{"reference":"sdfsdfas234","amount":4566.44,"installment":3}]}},"single with wallet":{"value":{"payment_mode":"single","payment_methods":[{"reference":"seferwr23432","amount":234.34,"status":"success","metadata":{"payer_id":"ABZFSPBUXWK2U","payment_intent_id":"817355952-351bc9f5-3fb6-4ddc-8204-b74e82984814"}}]}}}}}},"tags":["Order"],"responses":{"200":{"content":{"application/json":{"schema":{"title":"Root Type for SuccessResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"},"readOnly":true},"data":{"description":"","anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"}},"example":{"success":true,"message":{"es":"El API Key es válido.","en":"The API Key is invalid"}},"x-readme-ref-name":"SuccessResponseType"},"examples":{"Response OK":{"value":{"success":true,"message":{"es":"La orden de pago ha sido procesada satisfactoriamente."}}}}}},"description":"Response OK"},"401":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ApiKeyInvalidOrMissing":{"value":{"success":false,"message":{"es":"Falta el API Key o no es válido."}}},"DisabledApiKey":{"value":{"success":false,"message":{"es":"El API Key está deshabilitado."}}},"ExpiredApiKey":{"value":{"success":false,"message":{"es":"El API Key ha expirado."}}}}}},"description":"Unauthorized"},"402":{"content":{"application/json":{"schema":{"title":"Root Type for SuccessResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"},"readOnly":true},"data":{"description":"","anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"}},"example":{"success":true,"message":{"es":"El API Key es válido.","en":"The API Key is invalid"}},"x-readme-ref-name":"SuccessResponseType"},"examples":{"3DSRequired":{"value":{"success":false,"message":"Process payment order required 3DS","data":{"reference":"62ZUw3yqakuonG5","kind":"card","priority":"primary","psp":"Fiserv","metadata":{"fiserv":{"authenticationResponse":{"type":"3D_SECURE","version":"2.1","secure3dMethod":{"methodForm":"<iframe id=\"tdsMmethodTgtFrame\" name=\"tdsMmethodTgtFrame\"style=\"visibility: hidden; width: 1px; height: 1px;\"xmlns=\"http://www.w3.org/1999/xhtml\"> <!--.--></iframe><form id=\"tdsMmethodForm\"name=\"tdsMmethodForm\" action=\"https://3ds-acs.test.modirum.com/mdpayacs/3ds-method\"method=\"post\" target=\"tdsMmethodTgtFrame\"xmlns=\"http://www.w3.org/1999/xhtml\"> <input type=\"hidden\" name=\"3DSMethodData\"value=\"eyAidGhyZWVEU1NlcnZlclRyYW5zSUQiIDogIjJlZTQwMGZkLTkyZDgtNTk4Yi04MDAwLTAwMDAwMWFiYjg0MSIsICJ0aHJlZURTTWV0aG9kTm90aWZpY2F0aW9uVVJMIiA6ICJodHRwczovL3dlYmhvb2suc2l0ZS9lMDZlZDkyZS0wZWNjLTQzNDktYTVlZi01YTUyNGJhYjJlODkiIH0\"/> <input type=\"hidden\"name=\"threeDSMethodData\"value=\"eyAidGhyZWVEU1NlcnZlclRyYW5zSUQiIDogIjJlZTQwMGZkLTkyZDgtNTk4Yi04MDAwLTAwMDAwMWFiYjg0MSIsICJ0aHJlZURTTWV0aG9kTm90aWZpY2F0aW9uVVJMIiA6ICJodHRwczovL3dlYmhvb2suc2l0ZS9lMDZlZDkyZS0wZWNjLTQzNDktYTVlZi01YTUyNGJhYjJlODkiIH0\"/> <script type=\"text/javascript\">\t\t\t\tdocument.getElementById(\"tdsMmethodForm\").submit();\t\t\t</script></form>","secure3dTransId":"28031041"}}}},"card_info":{"bin":"424242","type":"credit","brand":"visa","bank_name":"","country_code":"US","last_4_digits":"2345"}}}}}}},"description":"3DS Authentication Required"},"403":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"DisabledMerchant":{"value":{"success":false,"message":{"es":"El merchant está deshabilitado."}}},"RequestDomainIsNotAllowed":{"value":{"success":false,"message":{"es":"Este API Key no tiene permitido el acceso desde el dominio \"example.com\""}}}}}},"description":"Forbbiden"},"422":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"Unprocessable Order Error":{"value":{"success":false,"message":"Esta orden de pago no se puede procesar.","errors":{"reference":["Esta orden de pago no se puede procesar."]}}},"PSP Error Response":{"value":{"success":false,"message":"No fue posible completar la orden de pago.","errors":{"code":4000,"fatal":false,"reason":{"en":"Payment was declined for some unknown reason, please verify the card data","es":"El pago fue rechazado por alguna razón desconocida, por favor verifica los datos de la tarjeta"},"exception":"Generic decline"}}}}}},"description":"Unprocessabled Order"},"500":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ServerError":{"value":{"success":false,"message":{"es":"Ha ocurrido un error inesperado","en":"An unexpected error has occurred"}}}}}},"description":"Internal Server Error"}},"security":[{"Authorization":[]}],"operationId":"processOrder","summary":"Procesar orden","description":"Procesa una orden de pago"},"delete":{"tags":["Order"],"parameters":[{"name":"uuid","description":"Payment order uuid","schema":{"type":"string"},"in":"path","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"title":"Root Type for SuccessResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"},"readOnly":true},"data":{"description":"","anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"}},"example":{"success":true,"message":{"es":"El API Key es válido.","en":"The API Key is invalid"}},"x-readme-ref-name":"SuccessResponseType"},"examples":{"Success Response":{"value":{"success":true,"message":"La orden ha sido cancelada satisfactoriamente"}}}}},"description":"Response OK"},"401":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ApiKeyInvalidOrMissing":{"value":{"success":false,"message":{"es":"Falta el API Key o no es válido."}}},"DisabledApiKey":{"value":{"success":false,"message":{"es":"El API Key está deshabilitado."}}},"ExpiredApiKey":{"value":{"success":false,"message":{"es":"El API Key ha expirado."}}}}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"DisabledMerchant":{"value":{"success":false,"message":{"es":"El merchant está deshabilitado."}}},"RequestDomainIsNotAllowed":{"value":{"success":false,"message":{"es":"Este API Key no tiene permitido el acceso desde el dominio \"example.com\""}}}}}},"description":"Forbbiden"},"404":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"Payment Order Not Found":{"value":{"success":false,"message":"No se ha encontrado ninguna orden con la referencia \"234234-001\""}}}}},"description":"Payment Order Not Found"},"500":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ServerError":{"value":{"success":false,"message":{"es":"Ha ocurrido un error inesperado","en":"An unexpected error has occurred"}}}}}},"description":"Internal Server Error"}},"security":[{"Authorization":[]}],"operationId":"deleteOrder","summary":"Cancelar orden","description":"Cancela una orden de pago no pagada"},"parameters":[{"name":"uuid","description":"Payment order uuid","schema":{"type":"string"},"in":"path","required":true}]},"/payment-order/{uuid}/card":{"description":"","post":{"requestBody":{"content":{"application/json":{"schema":{"title":"Root Type for AddNewPaymentMethodRequest","description":"","required":["card_address","hold_tokens","card_info","capture_tokens"],"type":"object","properties":{"card_address":{"description":"Dirección de la tarjeta.","properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"zip":{"type":"string"}},"title":"Root Type for Address","required":["addresss","city","country","email","first_name","last_name","state","zip"],"type":"object","example":{"first_name":"Jhon","last_name":"Doe","email":"jhon@gmail.com","phone":"998456778","addresss":"345 Oxmal","address2":"","city":"Cancún","state":"Quintana Roo","country":"México","zip":"33456"},"x-readme-ref-name":"AddressType"},"hold_tokens":{"description":"Tokens de la tarjeta para realizar el hold","type":"array","items":{},"properties":{"Stripe":{"type":"string"},"MercadoPago":{"type":"string"}}},"capture_tokens":{"description":"Tokens de la tarjeta para realizar la captura del pago","type":"array","items":{"type":"string"}},"priority":{"description":"Indica la prioridad del medio de pago para cuando la forma de pago es split. Solo es necesario enviarlo cuando el método de pago de la orden es split.","enum":["primary","secondary"],"type":"string"},"metadata":{"description":"Cualquier otra información necesaria del método de pago","type":"array","items":{"anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","description":"","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"}},"card_info":{"description":"Datos de la tarjeta: bin y últimos 4 dígitos.","title":"Root Type for CardInfoType","required":["bin","last_4_digits"],"type":"object","properties":{"bin":{"description":"Primeros 6 dígitos de la tarjeta","type":"string","example":"424242"},"last_4_digits":{"description":"Últimos 4 dígitos de la tarjeta.","type":"string","example":"4242"}},"example":{"bin":"424242","last_4_digits":"4242"},"x-readme-ref-name":"CardInfoType"}},"example":{"priority":"primary","card_info":{"bin":"424242","last_4_digits":"2345"},"card_address":{"first_name":"Jhon","last_name":"Doe","email":"jhon@gmail.com","phone":"998456778","address":"345 Oxmal","address2":"","city":"Cancún","state":"Quintana Roo","country":"México","zip":"33456"},"hold_tokens":{"MercadoPago":"3a03457955b8cf991acd72cd253c14b7"},"capture_tokens":{"MercadoPago":"32454qqf345325qrtq33512wer251345"},"metadata":{"openpay_device_id":"2342asf32412"}},"x-readme-ref-name":"AddCardPaymentMethodRequest"},"examples":{"AddCardRequest":{"value":{"priority":"primary","card_info":{"bin":"424242","last_4_digits":"2345"},"card_address":{"first_name":"Jhon","last_name":"Doe","email":"jhon@gmail.com","phone":"998456778","address":"345 Oxmal","address2":"","city":"Cancún","state":"Quintana Roo","country":"México","zip":"33456"},"hold_tokens":{"Fiserv":"kh9i62jndttjnnufhuxg","MercadoPago":"3a03457955b8cf991acd72cd253c14b7"},"capture_tokens":{"MercadoPago":"32454qqf345325qrtq33512wer251345","Fiserv":"9105f754-b297-4df4-b579-a74b840aaaa9"},"metadata":{"openpay_device_id":{"hold":"uFxKiX4VRuq3HnvnshjX3Iue0Fv0lLco","capture":"uJseQ58aKOmstLgisSpAOtk1zjjCIk00"}}}}}}},"required":true},"tags":["Payment Methods"],"responses":{"200":{"content":{"application/json":{"schema":{"title":"Root Type for SuccessResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"},"readOnly":true},"data":{"description":"","anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"}},"example":{"success":true,"message":{"es":"El API Key es válido.","en":"The API Key is invalid"}},"x-readme-ref-name":"SuccessResponseType"},"examples":{"SuccessResponse":{"value":{"success":true,"message":{"es":"La tarjeta fue añadida exitosamente.","en":"The card was added successfully."},"data":{"payment_method":{"reference":"Bi8SXuu67gOfWsW","kind":"card","card_info":{"bin":"370701","type":"credit","brand":"amex","bank_name":"AMERICAN EXPRESS","country_code":"MX","last_4_digits":"3456"}},"installments":[{"months":3,"minimum":300},{"months":6,"minimum":600},{"months":9,"minimum":900},{"months":12,"minimum":1200}]}}}}}},"description":"Response OK"},"400":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"PSP hold fail":{"value":{"success":false,"message":"No se pudo agregar la tarjeta."}}}}},"description":"PSP hold fail"},"401":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ApiKeyInvalidOrMissing":{"value":{"success":false,"message":{"es":"Falta el API Key o no es válido."}}},"DisabledApiKey":{"value":{"success":false,"message":{"es":"El API Key está deshabilitado."}}},"ExpiredApiKey":{"value":{"success":false,"message":{"es":"El API Key ha expirado."}}}}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"DisabledMerchant":{"value":{"success":false,"message":{"es":"El merchant está deshabilitado."}}},"RequestDomainIsNotAllowed":{"value":{"success":false,"message":{"es":"Este API Key no tiene permitido el acceso desde el dominio \"example.com\""}}}}}},"description":"Forbbiden"},"404":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"Payment Order Not Found":{"value":{"success":false,"message":"No se ha encontrado ninguna orden con la referencia \"234234-001\""}}}}},"description":"Payment Order Not Found"},"422":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"Validation Errors":{"value":{"success":false,"message":"El campo tokens es obligatorio.","errors":{"tokens":["El campo tokens es obligatorio."]}}}}}},"description":"Validation errors"},"500":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ServerError":{"value":{"success":false,"message":{"es":"Ha ocurrido un error inesperado","en":"An unexpected error has occurred"}}}}}},"description":"Internal Server Error"}},"security":[{"Authorization":[]}],"operationId":"addCardMethod","summary":"Añadir método de pago tarjeta","description":"Añade un método de pago de tipo tarjeta a la orden de pago"},"parameters":[{"name":"uuid","description":"Payment order uuid","schema":{"type":"string"},"in":"path","required":true}]},"/payment-order/{uuid}/cash":{"description":"","post":{"requestBody":{"content":{"application/json":{"schema":{"title":"Root Type for AddNewPaymentMethodRequest","description":"","required":["psp","priority"],"type":"object","properties":{"psp":{"description":"Nombre del PSP. Debe ser en slug.","type":"string","example":"openpay"},"metadata":{"description":"Cualquier otra información adicional del método de pago","type":"array","items":{"anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","description":"","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"}},"priority":{"description":"Prioridad del método de pago","enum":["primary","secondary"],"type":"string"}},"example":{"psp":"openpay","priority":"primary","metadata":{"openpay_device_id":"2342asf32412"}},"x-readme-ref-name":"AddCashPaymentMethodRequest"},"examples":{"AddCashRequest":{"value":{"psp":"openpay","priority":"primary","metadata":{"openpay_device_id":"2342asf32412"}}}}}},"required":true},"tags":["Payment Methods"],"responses":{"200":{"content":{"application/json":{"schema":{"title":"Root Type for SuccessResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"},"readOnly":true},"data":{"description":"","anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"}},"example":{"success":true,"message":{"es":"El API Key es válido.","en":"The API Key is invalid"}},"x-readme-ref-name":"SuccessResponseType"},"examples":{"SuccessResponse":{"value":{"success":true,"message":"El método de pago se agregó con éxito.","data":{"reference":"lruwK4mjOkVc4nE","kind":"cash","priority":"primary","psp":"openpay"}}}}}},"description":"Response OK"},"401":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ApiKeyInvalidOrMissing":{"value":{"success":false,"message":{"es":"Falta el API Key o no es válido."}}},"DisabledApiKey":{"value":{"success":false,"message":{"es":"El API Key está deshabilitado."}}},"ExpiredApiKey":{"value":{"success":false,"message":{"es":"El API Key ha expirado."}}}}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"DisabledMerchant":{"value":{"success":false,"message":{"es":"El merchant está deshabilitado."}}},"RequestDomainIsNotAllowed":{"value":{"success":false,"message":{"es":"Este API Key no tiene permitido el acceso desde el dominio \"example.com\""}}}}}},"description":"Forbbiden"},"404":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"Payment Order Not Found":{"value":{"success":false,"message":"No se ha encontrado ninguna orden con la referencia \"234234-001\""}}}}},"description":"Payment Order Not Found"},"422":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"Validation Errors":{"value":{"success":false,"message":"El valor del campo psp no es válido","errors":{"psp":["El valor del campo psp no es válido"]}}}}}},"description":"Validation Errors"},"500":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ServerError":{"value":{"success":false,"message":{"es":"Ha ocurrido un error inesperado","en":"An unexpected error has occurred"}}}}}},"description":"Internal Server Error"}},"security":[{"Authorization":[]}],"operationId":"addCashMethod","summary":"Añadir método de pago efectivo","description":"Añade un método de pago de tipo efectivo a la orden de pago"},"parameters":[{"name":"uuid","description":"Payment order uuid","schema":{"type":"string"},"in":"path","required":true}]},"/payment-order/{uuid}/wallet":{"description":"","post":{"requestBody":{"content":{"application/json":{"schema":{"title":"Root Type for AddNewPaymentMethodRequest","description":"","required":["psp","priority","amount"],"type":"object","properties":{"psp":{"description":"Nombre del PSP. Debe ser en slug.","type":"string","example":"mercadopago"},"metadata":{"description":"Cualquier otra información adicional de método de pago.","type":"array","items":{},"example":"{\n    \"url_success\": \"http://my-ecommerce.com/payment/wallet/success\",\n    \"url_fail\": \"http://my-ecommerce.com/payment/wallet/fail\"\n}"},"priority":{"description":"Prioridad del método de pago","enum":["primary","secondary"],"type":"string"},"amount":{"format":"double","description":"Monto a pagar con el medio de pago","type":"number"}},"example":{"psp":"paypal","amount":1234.45,"priority":"primary","metadata":{"url_success":"http://my-ecommerce.com/payment/wallet/success","url_fail":"http://my-ecommerce.com/payment/wallet/fail","url_pending":"http://my-ecommerce.com/payment/wallet/pending"}},"x-readme-ref-name":"AddWalletPaymentMethodRequest"}}},"required":true},"tags":["Payment Methods"],"responses":{"200":{"content":{"application/json":{"schema":{"title":"Root Type for SuccessResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"},"readOnly":true},"data":{"description":"","anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"}},"example":{"success":true,"message":{"es":"El API Key es válido.","en":"The API Key is invalid"}},"x-readme-ref-name":"SuccessResponseType"},"examples":{"SuccessResponse":{"value":{"success":true,"message":"El método de pago se agregó con éxito.","data":{"reference":"n061GIgnQMZV5pW","kind":"wallet","priority":"primary","metadata":{"payment_intent_id":"8GF39494F5833624A","approval_url":"https://sandbox.mercadopago.com.mx/checkout/v1/redirect?pref_id=817355952-99919112-2b4e-4fe4-bf97-9d199144db94"},"psp":"Paypal"}}}}}},"description":"Response OK"},"401":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ApiKeyInvalidOrMissing":{"value":{"success":false,"message":{"es":"Falta el API Key o no es válido."}}},"DisabledApiKey":{"value":{"success":false,"message":{"es":"El API Key está deshabilitado."}}},"ExpiredApiKey":{"value":{"success":false,"message":{"es":"El API Key ha expirado."}}}}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"DisabledMerchant":{"value":{"success":false,"message":{"es":"El merchant está deshabilitado."}}},"RequestDomainIsNotAllowed":{"value":{"success":false,"message":{"es":"Este API Key no tiene permitido el acceso desde el dominio \"example.com\""}}}}}},"description":"Forbbiden"},"404":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"Payment Order Not Found":{"value":{"success":false,"message":"No se ha encontrado ninguna orden con la referencia \"234234-001\""}}}}},"description":"Payment Order Not Found"},"422":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"Validation Error":{"value":{"success":false,"message":"El valor del campo psp no es válido","errors":{"psp":["El valor del campo psp no es válido"]}}}}}},"description":"Validation Errors"},"500":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ServerError":{"value":{"success":false,"message":{"es":"Ha ocurrido un error inesperado","en":"An unexpected error has occurred"}}}}}},"description":"Internal Server Error"}},"security":[{"Authorization":[]}],"operationId":"addWalletMethod","summary":"Añadir método de pago wallet","description":"Añade un método de pago de tipo billetera electrónica a la orden de pago"},"parameters":[{"name":"uuid","description":"Payment order uuid","schema":{"type":"string"},"in":"path","required":true}]},"/payment-order/{uuid}/unhold/{reference}":{"description":"","delete":{"tags":["Payment Methods"],"responses":{"200":{"content":{"application/json":{"schema":{"title":"Root Type for SuccessResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"},"readOnly":true},"data":{"description":"","anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"}},"example":{"success":true,"message":{"es":"El API Key es válido.","en":"The API Key is invalid"}},"x-readme-ref-name":"SuccessResponseType"},"examples":{"SuccessResponse":{"value":{"success":true,"message":"Los fondos han sido liberados satisfactoriamente"}}}}},"description":"Response OK"},"401":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ApiKeyInvalidOrMissing":{"value":{"success":false,"message":{"es":"Falta el API Key o no es válido."}}},"DisabledApiKey":{"value":{"success":false,"message":{"es":"El API Key está deshabilitado."}}},"ExpiredApiKey":{"value":{"success":false,"message":{"es":"El API Key ha expirado."}}}}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"DisabledMerchant":{"value":{"success":false,"message":{"es":"El merchant está deshabilitado."}}},"RequestDomainIsNotAllowed":{"value":{"success":false,"message":{"es":"Este API Key no tiene permitido el acceso desde el dominio \"example.com\""}}}}}},"description":"Forbbiden"},"404":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"Payment Order Not Found":{"value":{"success":false,"message":"No se ha encontrado ninguna orden con la referencia \"234234-001\""}},"Payment Method Not Found":{"value":{"success":false,"message":"No se ha encontrado ningún método de pago con la referencia \"xomSPDqYMTQlKQm-23\""}}}}},"description":"Payment Order or Payment Method Not Found"}},"operationId":"unholdCard","summary":"Liberar fondos","description":"Libera los fondos previamente congelados de una tarjeta"},"parameters":[{"name":"uuid","description":"Payment order uuid","schema":{"type":"string"},"in":"path","required":true},{"name":"reference","description":"Payment method reference","schema":{"type":"string"},"in":"path","required":true}]},"/payment-order/{uuid}/payment-method/{reference}/send-3ds-request":{"get":{"tags":["Payment Methods"],"parameters":[{"name":"uuid","description":"Valor del campo uuid de la orden de pago","schema":{"type":"string"},"in":"path","required":true},{"name":"reference","description":"Valor del campo reference del método de pago","schema":{"type":"string"},"in":"path","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"title":"Root Type for SuccessResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"},"readOnly":true},"data":{"description":"","anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"}},"example":{"success":true,"message":{"es":"El API Key es válido.","en":"The API Key is invalid"}},"x-readme-ref-name":"SuccessResponseType"},"examples":{"Success":{"value":{"success":true,"message":""}}}}},"description":"Response OK"}},"operationId":"set3DSCardMethod","summary":"Indicar 3DS","description":"Indica que se envío el formulario de autenticación 3DS"},"parameters":[{"name":"uuid","schema":{"type":"string"},"in":"path","required":true},{"name":"reference","schema":{"type":"string"},"in":"path","required":true}]},"/configurations":{"summary":"Devuelve las configuraciones del merchant","description":"","get":{"tags":["Merchant"],"responses":{"200":{"content":{"application/json":{"schema":{"title":"Root Type for SuccessResponse","description":"","required":["data","message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"description":"","title":"Root Type for ConfigurationsData","required":["psps","installments_active","monthly_installment","currency","country","split_payment_active","split_payment_fee_amount","split_payment_fee_active","public_key"],"type":"object","properties":{"installments_active":{"description":"Valor booleano que indica si el merchant tiene o no soporte para MSI","type":"boolean"},"psps":{"description":"Listado de los PSP activos asociados al merchant","type":"array","items":{"title":"Root Type for ConfigurationsPSPType","description":"Structure for PSP returned on merchant configurations","required":["kind","name","slug","credentials","configurations"],"type":"object","properties":{"name":{"description":"Nombre del PSP","type":"string","example":"OpenPay"},"kind":{"description":"Tipos soportados por el PSP","type":"array","items":{"type":"string"},"example":"[\"card\", \"wallet\"]"},"slug":{"description":"Slug del nombre del PSP","type":"string"},"credentials":{"description":"Credenciales del PSP. Son los valores que se configuran cuando se asocia un PSP a un merchant","type":"array","items":{"type":"string"},"example":"{\n                    \"public_key\": \"234afr234awf4364557s\"\n                }"},"configurations":{"description":"Configuraciones adicionales del PSP","type":"array","items":{"type":"string"},"example":"{\n                    \"include_1\": \"https://js.openpay.mx/openpay.v1.min.js\",\n                    \"include_2\": \"https://js.openpay.mx/openpay-data.v1.min.js\"\n                }"}},"example":{"name":"OpenPay","slug":"openpay","kind":["card","cash"],"sandbox":true,"configurations":{"include_1":"https://js.openpay.mx/openpay.v1.min.js","include_2":"https://js.openpay.mx/openpay-data.v1.min.js"},"credentials":{"public_key":"234afr234awf4364557s"}},"x-readme-ref-name":"PSPType"}},"configurations":{"description":"Configuraciones del merchant","type":"array","items":{"anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","description":"","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"},"example":""},"monthly_installment":{"description":"Indicia el valor máximo de cuotas soportadas por el merchant","enum":["1","3","6","9","12","18","24"],"type":"string"},"currency":{"description":"Moneda del merchant","type":"string","example":"MXN"},"country":{"description":"País del merchant","type":"string"},"split_payment_active":{"description":"Indica si el merchant tiene o no soporte para split payment","type":"boolean"},"split_payment_fee_amount":{"format":"double","description":"Indica el fee a cobrar al realizar split payment","type":"number"},"split_payment_fee_active":{"description":"Indica si el merchant tiene activado o no los fees para el split payment","type":"boolean"},"public_key":{"description":"PKI public key ","type":"string"}},"example":{"success":true,"message":"","data":{"split_payment_active":false,"split_payment_fee_active":false,"split_payment_fee_amount":4,"monthly_installment":24,"installments_active":true,"currency":"MXN","country":"MX","configurations":[],"public_key":"-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAqON0JAji46sS2U9I7RIn\nwbJE3ywfJ3bjg3n03nwo12NxsqpHv2gmuY79u3QPUr6R+g7L/39vQtk3bl99Az+0\nReQTlDFrFJMoE89sigx0kCOebRaDO+nQKjCCYsDjsLfMhGFyxHkRQho4BLT/lmO2\nV1L0pXMZoBNckeELDKOfUsf4UA+F7GG7XqeMrZH8j/6bn45i2YXi9mLr4TZE0F8h\nSimz/m9jQQpn9BqyCUya3LkbBFTDvUhZDSn5gHzNjtSrn7E871KcP3mQ0HSv5O7j\n5l4WC9sBR8yrpYkNcy2Fm12C/rTBvnHQ+Cd49JEh/q/vQn1uouqivuwA8baHzdhj\nZO4YGer70GQibznqvgvVMye1qPJUM6cQ4y0fuk4TVKLEqub80Ycb4EF3HXGJfsCV\n07RB1JbiPfNGG+aHnyjA8z1Rb7wfZr3DORGcPiqCuo/Xtjqf7u7oUdgdIa8zRkJk\n2+FfOIZmu+WkoE3vwPJ7Y6nUMY6PKdpZeCsNLsyaFGvY4POuA8J0okojnTMRigyL\njxn+rBTt3j+nehSvvmxXsR3CH/YxmmhJnRfR3NIENBGAcvusE0A2yRQzy4avRFOf\nYezPp3/pol8RIg2o6sJJDES7xWcdnKr0cQ3Npc9xP1hWxFvaKnOCF7WphNlJXvCQ\n9fQabC3Lg/2VpJtJED7FJnkCAwEAAQ==\n-----END PUBLIC KEY-----\n","psps":[{"name":"OpenPay","slug":"openpay","kind":["card","cash"],"sandbox":true,"configurations":{"include_1":"https://js.openpay.mx/openpay.v1.min.js","include_2":"https://js.openpay.mx/openpay-data.v1.min.js"},"credentials":{"id":"mx9jewqhyjzl2n6g057c","public_key":"pk_061d32ba1976493abbcf6cd3fb0544a8"}},{"name":"Stripe","slug":"stripe","kind":["card"],"sandbox":true,"configurations":{"include":"https://js.stripe.com/v2"},"credentials":{"public_key":"pk_test_51JV0DLGdcZNbShQE3BFL6wYXUcmHkHolM6DUIChU5DSlxe4VOVSgSYHzqgqZKiwjDQNI6B92tW2JMrkRZzFlbjml00VFpLIKdE"}},{"name":"MercadoPago","slug":"mercadopago","kind":["card","wallet"],"sandbox":false,"configurations":{"include":"https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js","hold":true},"credentials":{"public_key":"APP_USR-7c2416c7-dcb5-44ae-8e72-eafc81962ef7"}},{"name":"Paypal","slug":"paypal","kind":["wallet"],"sandbox":true,"configurations":{"sdk":"https://www.paypal.com/sdk/js"},"credentials":[]}],"afs":[{"name":"ClearSale","slug":"clearsale","sandbox":true,"configurations":{"url_sandbox":"https://sandbox-global-api.clear.sale/api"},"credentials":{"api_key":"090F790E-0825-45B8-A918-A64AB1495867","client_id":"retrypay-sandbox","api_secret":"h2FGNoyjTc"}}]}},"x-readme-ref-name":"ConfigurationsData"}},"example":{"success":true,"message":[],"data":{"installments_active":true,"monthly_installment":18,"split_payment_active":true,"minimum_split_payment_amount":2000,"currency":"MXN","country":"MX","configurations":{"psp_extra_configuration":"active"},"public_key":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnfDpojSxx8coNkdKws8M\n0fUWT4DOZQzwsZ0yk0YrMvWSvUHlYC8Wj6aLbmbrG5FcSKRLoYQ39uzA2QhVoWB3\nCKOd9gRfHBpHsGEAY4qbmSUBeKPA6AJO6cljKtUgWbCsQfuMx6XBEZ0UGagjprZ+\njatYJzY8eh7lSSwHD0a4pALXxLca/Tu9T1HtOSD1pTSVSc0Q2ll4sHu/LswEYToL\nDr0ygw9uh75hRpJqNZkXgQTUATS4PeAaImYK1+33nm+s08S8GI4YmTP45JUhV+2A\njz6nCwl+1UwQWd4rzYockVAZKJf1z38ej6XU6dti75TyMh4HX26+r8Zre5KzRx/9\nZQIDAQAB\n-----END PUBLIC KEY-----","psps":[{"name":"OpenPay","kind":["card","wallet"],"configuration":{"sandbox":true,"include":"https://cdn.conekta.io/js/latest/conekta.js","public_key":"1d23s3vss23gfdfg67cfsbw3"}}],"afs":[{"name":"ClearSale","slug":"clearsale","sandbox":true,"configurations":{"url_sandbox":"https://sandbox-global-api.clear.sale/api"},"credentials":{"api_key":"090F790E-0825-45B8-A918-A64AB1495867","client_id":"retrypay-sandbox","api_secret":"h2FGNoyjTc"}}]}},"x-readme-ref-name":"ConfigurationsResponse"},"examples":{"MerchantConfigurationsSuccess":{"value":{"success":true,"message":[],"data":{"split_payment_active":false,"split_payment_fee_active":false,"split_payment_fee_amount":4,"monthly_installment":24,"installments_active":true,"currency":"MXN","country":"MX","configurations":[],"public_key":"-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAqON0JAji46sS2U9I7RIn\nwbJE3ywfJ3bjg3n03nwo12NxsqpHv2gmuY79u3QPUr6R+g7L/39vQtk3bl99Az+0\nReQTlDFrFJMoE89sigx0kCOebRaDO+nQKjCCYsDjsLfMhGFyxHkRQho4BLT/lmO2\nV1L0pXMZoBNckeELDKOfUsf4UA+F7GG7XqeMrZH8j/6bn45i2YXi9mLr4TZE0F8h\nSimz/m9jQQpn9BqyCUya3LkbBFTDvUhZDSn5gHzNjtSrn7E871KcP3mQ0HSv5O7j\n5l4WC9sBR8yrpYkNcy2Fm12C/rTBvnHQ+Cd49JEh/q/vQn1uouqivuwA8baHzdhj\nZO4YGer70GQibznqvgvVMye1qPJUM6cQ4y0fuk4TVKLEqub80Ycb4EF3HXGJfsCV\n07RB1JbiPfNGG+aHnyjA8z1Rb7wfZr3DORGcPiqCuo/Xtjqf7u7oUdgdIa8zRkJk\n2+FfOIZmu+WkoE3vwPJ7Y6nUMY6PKdpZeCsNLsyaFGvY4POuA8J0okojnTMRigyL\njxn+rBTt3j+nehSvvmxXsR3CH/YxmmhJnRfR3NIENBGAcvusE0A2yRQzy4avRFOf\nYezPp3/pol8RIg2o6sJJDES7xWcdnKr0cQ3Npc9xP1hWxFvaKnOCF7WphNlJXvCQ\n9fQabC3Lg/2VpJtJED7FJnkCAwEAAQ==\n-----END PUBLIC KEY-----\n","afs":[{"name":"ClearSale","slug":"clearsale","sandbox":true,"configurations":{"url_sandbox":"https://sandbox-global-api.clear.sale/api"},"credentials":{"api_key":"090F790E-0825-45B8-A918-A64AB1495867","client_id":"retrypay-sandbox","api_secret":"h2FGNoyjTc"}}],"psps":[{"name":"OpenPay","slug":"openpay","kind":["card","cash"],"sandbox":true,"configurations":{"include_1":"https://js.openpay.mx/openpay.v1.min.js","include_2":"https://js.openpay.mx/openpay-data.v1.min.js"},"credentials":{"id":"mx9jewqhyjzl2n6g057c","public_key":"pk_061d32ba1976493abbcf6cd3fb0544a8"}},{"name":"Stripe","slug":"stripe","kind":["card"],"sandbox":true,"configurations":{"include":"https://js.stripe.com/v2"},"credentials":{"public_key":"pk_test_51JV0DLGdcZNbShQE3BFL6wYXUcmHkHolM6DUIChU5DSlxe4VOVSgSYHzqgqZKiwjDQNI6B92tW2JMrkRZzFlbjml00VFpLIKdE"}},{"name":"MercadoPago","slug":"mercadopago","kind":["card","wallet"],"sandbox":false,"configurations":{"include":"https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js","hold":true},"credentials":{"public_key":"APP_USR-7c2416c7-dcb5-44ae-8e72-eafc81962ef7"}},{"name":"Paypal","slug":"paypal","kind":["wallet"],"sandbox":true,"configurations":{"sdk":"https://www.paypal.com/sdk/js"},"credentials":[]}]}}}}}},"description":"Response OK"},"401":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ApiKeyInvalidOrMissing":{"value":{"success":false,"message":{"es":"Falta el API Key o no es válido."}}},"DisabledApiKey":{"value":{"success":false,"message":{"es":"El API Key está deshabilitado."}}},"ExpiredApiKey":{"value":{"success":false,"message":{"es":"El API Key ha expirado."}}}}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"DisabledMerchant":{"value":{"success":false,"message":{"es":"El merchant está deshabilitado."}}},"RequestDomainIsNotAllowed":{"value":{"success":false,"message":{"es":"Este API Key no tiene permitido el acceso desde el dominio \"example.com\""}}}}}},"description":"Forbbiden"},"500":{"content":{"application/json":{"schema":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"examples":{"ServerError":{"value":{"success":false,"message":{"es":"Ha ocurrido un error inesperado","en":"An unexpected error has occurred"}}}}}},"description":"Internal Server Error"}},"deprecated":false,"security":[{"Authorization":[]}],"operationId":"getMerchantConfig","summary":"Retorna las configuraciones del merchant","description":"Devuelve las configuraciones del merchant así como las credenciales de cada uno de sus PSP activos."}}},"components":{"schemas":{"AddressType":{"title":"Root Type for Address","description":"","required":["addresss","city","country","email","first_name","last_name","state","zip"],"type":"object","properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"pattern":"[a-z0-9]+@[a-z]+\\.[a-z]{2,3}","type":"string"},"phone":{"type":"string"},"addresss":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"zip":{"maxLength":5,"minLength":5,"pattern":"^\\d{5}$","type":"string"}},"example":{"first_name":"Jhon","last_name":"Doe","email":"jhon@gmail.com","phone":"998456778","addresss":"345 Oxmal","address2":"","city":"Cancún","state":"Quintana Roo","country":"México","zip":"33456"},"x-readme-ref-name":"AddressType"},"ErrorResponseType":{"title":"Root Type for ErrorResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean","example":"The reference field is required. (and 3 more errors)"},"message":{"type":"string","example":"The reference field is required. (and 3 more errors)"},"errors":{"description":"","type":"array","items":{},"example":"{\n        \"reference\": [\n            \"The reference field is required.\"\n        ],\n        \"payment_mode\": [\n            \"The selected payment mode is invalid.\"\n        ],\n        \"currency\": [\n            \"The currency field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ]\n    }"}},"example":{"success":false,"message":{"es":"El campo reference es obligatorio. (and 3 more errors)"},"errors":{"reference":["The reference field is required."],"payment_mode":["The payment mode field is required."],"currency":["The currency field is required."],"amount":["The amount field is required."]}},"x-readme-ref-name":"ErrorResponseType"},"SuccessResponseType":{"title":"Root Type for SuccessResponse","description":"","required":["message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"},"readOnly":true},"data":{"description":"","anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"}},"example":{"success":true,"message":{"es":"El API Key es válido.","en":"The API Key is invalid"}},"x-readme-ref-name":"SuccessResponseType"},"ItemType":{"description":"Payment Order items","required":["description","price","quantity"],"type":"object","properties":{"description":{"description":"","type":"string"},"price":{"format":"double","description":"","type":"number"},"quantity":{"description":"","type":"integer"}},"example":[{"description":"Habitación doble vista al mar","price":56.79,"quantity":7},{"description":"Habitación sencilla","price":34.99,"quantity":7}],"x-readme-ref-name":"ItemType"},"PSPType":{"title":"Root Type for ConfigurationsPSPType","description":"Structure for PSP returned on merchant configurations","required":["kind","name","slug","credentials","configurations"],"type":"object","properties":{"name":{"description":"Nombre del PSP","type":"string","example":"OpenPay"},"kind":{"description":"Tipos soportados por el PSP","type":"array","items":{"type":"string"},"example":"[\"card\", \"wallet\"]"},"slug":{"description":"Slug del nombre del PSP","type":"string"},"credentials":{"description":"Credenciales del PSP. Son los valores que se configuran cuando se asocia un PSP a un merchant","type":"array","items":{"type":"string"},"example":"{\n                    \"public_key\": \"234afr234awf4364557s\"\n                }"},"configurations":{"description":"Configuraciones adicionales del PSP","type":"array","items":{"type":"string"},"example":"{\n                    \"include_1\": \"https://js.openpay.mx/openpay.v1.min.js\",\n                    \"include_2\": \"https://js.openpay.mx/openpay-data.v1.min.js\"\n                }"}},"example":{"name":"OpenPay","slug":"openpay","kind":["card","cash"],"sandbox":true,"configurations":{"include_1":"https://js.openpay.mx/openpay.v1.min.js","include_2":"https://js.openpay.mx/openpay-data.v1.min.js"},"credentials":{"public_key":"234afr234awf4364557s"}},"x-readme-ref-name":"PSPType"},"AnyType":{"anyOf":[{"required":["value","key"],"type":"object","properties":{"key":{"type":"string"},"value":{"description":"","type":"string"}}}],"title":"Root Type for AnyType","description":"","type":"object","example":{"key":"private_key","value":"23dfe3qerde45t"},"x-readme-ref-name":"AnyType"},"CheckApiKeyResponse":{"title":"Root Type for SuccessResponse","description":"","required":["data","message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"array","items":{"type":"string"}},"data":{"description":"","type":"array","items":{},"example":"null"}},"example":{"success":true,"message":{"es":"El API Key es válido."}},"x-readme-ref-name":"CheckApiKeyResponse"},"CheckApiKeyRequest":{"title":"Root Type for ValidateApiKeyRequest","description":"","required":["api_key"],"type":"object","properties":{"api_key":{"maxLength":0,"minLength":0,"type":"string"}},"example":{"api_key":"YsIyaPsU1x7sV5AW2rG03NFGJjVGJc54Acr1xYtxZU9uzXKymLzfLAgGwtaMFNqhyziyd6"},"x-readme-ref-name":"CheckApiKeyRequest"},"InstallmentsRequest":{"title":"Root Type for CardInfoRequest","description":"","required":["amount","bin"],"type":"object","properties":{"bin":{"description":"First six digits of the card","maxLength":6,"minLength":6,"pattern":"^\\d{6}$","type":"string"},"amount":{"format":"double","description":"Payment order amount","type":"number"}},"example":{"bin":"234567","amount":234.45},"x-readme-ref-name":"InstallmentsRequest"},"InstallmentType":{"title":"Root Type for InstallmentType","description":"","required":["amount","installment"],"type":"object","properties":{"installment":{"description":"Installment number","type":"string"},"amount":{"format":"double","description":"Amount to pay in this installment","type":"number"}},"example":{"installment":"1","amount":3234.45},"x-readme-ref-name":"InstallmentType"},"InstallmentsData":{"title":"Root Type for InstallmentsData","description":"","required":["card_info"],"type":"object","properties":{"supported":{"type":"boolean"},"installments":{"type":"array","items":{"title":"Root Type for InstallmentType","description":"","required":["amount","installment"],"type":"object","properties":{"installment":{"description":"Installment number","type":"string"},"amount":{"format":"double","description":"Amount to pay in this installment","type":"number"}},"example":{"installment":"1","amount":3234.45},"x-readme-ref-name":"InstallmentType"},"example":" [\n            {\n                \"installment\": \"1\",\n                \"amount\": \"1,234.56\"\n            },\n            {\n                \"installment\": \"3\",\n                \"amount\": \"411.52\"\n            },\n            {\n                \"installment\": \"6\",\n                \"amount\": \"205.76\"\n            },\n            {\n                \"installment\": \"9\",\n                \"amount\": \"137.17\"\n            },\n            {\n                \"installment\": \"12\",\n                \"amount\": \"102.88\"\n            }\n        ]"},"card_info":{"properties":{"type":{"type":"string"},"brand":{"type":"string"},"bank_name":{"type":"string"},"country_code":{"type":"string"}},"example":"{\n            \"type\": \"credit\",\n            \"brand\": \"amex\",\n            \"bank_name\": \"AMERICAN EXPRESS\",\n            \"country_code\": \"MX\"\n        }","title":"Root Type for CardInfoType","description":"The card info get by bin","required":["bin","last_4_digits"],"type":"object","x-readme-ref-name":"CardInfoType"}},"example":{"supported":true,"installments":[{"installment":"1","amount":"1,234.56"},{"installment":"3","amount":"411.52"},{"installment":"6","amount":"205.76"},{"installment":"9","amount":"137.17"},{"installment":"12","amount":"102.88"}],"card_info":{"type":"credit","brand":"amex","bank_name":"AMERICAN EXPRESS","country_code":"MX"}},"x-readme-ref-name":"InstallmentsData"},"CardInfoType":{"title":"Root Type for CardInfoType","description":"The card info get by bin","required":["bin","last_4_digits"],"type":"object","properties":{"bin":{"description":"Primeros 6 dígitos de la tarjeta","type":"string","example":"424242"},"last_4_digits":{"description":"Últimos 4 dígitos de la tarjeta.","type":"string","example":"4242"}},"example":{"bin":"424242","last_4_digits":"4242"},"x-readme-ref-name":"CardInfoType"},"InstallmentsResponse":{"title":"Root Type for InstallmentsResponse","description":"","required":["data","message","success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"properties":{"supported":{"type":"boolean"},"installments":{"type":"array","items":{"type":"object","properties":{"installment":{"type":"string"},"amount":{"type":"string"}}}},"card_info":{"type":"object","properties":{"type":{"type":"string"},"brand":{"type":"string"},"bank_name":{"type":"string"},"country_code":{"type":"string"}}}},"example":"{\n        \"supported\": true,\n        \"installments\": [\n            {\n                \"installment\": \"1\",\n                \"amount\": \"1,234.56\"\n            },\n            {\n                \"installment\": \"3\",\n                \"amount\": \"411.52\"\n            },\n            {\n                \"installment\": \"6\",\n                \"amount\": \"205.76\"\n            },\n            {\n                \"installment\": \"9\",\n                \"amount\": \"137.17\"\n            },\n            {\n                \"installment\": \"12\",\n                \"amount\": \"102.88\"\n            }\n        ],\n        \"card_info\": {\n            \"type\": \"credit\",\n            \"brand\": \"amex\",\n            \"bank_name\": \"AMERICAN EXPRESS\",\n        
[...]
